<%- include('layout') %>
<% if (typeof successMsg != 'undefined' && successMsg) { %>
<div class="alert alert-success"><%- successMsg %></div>
<% } else if(typeof errorMsg != 'undefined' && errorMsg) { %>
<div class="alert alert-danger"><%- errorMsg %></div>
<% } %>
<section name="content">
    <div class="container">
        <% if (typeof message != 'undefined' && message) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        
        <form class="form-horizontal" role="form" method="post" action="/users/edit/<%= taskDetail._id %>">
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">TaskName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="taskname" placeholder="TaskName" value="<% if (typeof taskDetail != 'undefined') { %><%= taskDetail.taskname %><% } %>"/>
                </div>
                <% if (typeof tasknameErr != 'undefined' && tasknameErr) { %>
                    <div class="alert alert-danger"><%= tasknameErr %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" rows="4" cols="50"> <% if (typeof taskDetail != 'undefined') { %><%= taskDetail.description %><% } %> </textarea>
                </div>
                <% if (typeof descriptionErr != 'undefined' && descriptionErr) { %>
                    <div class="alert alert-danger"><%= descriptionErr %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Deadline</label>
                <div class="col-sm-10">
                    <input class="datepicker form-control" data-date-format="mm/dd/yyyy" name="deadline" value="<% if (typeof taskDetail != 'undefined') { %><%= (taskDetail.deadline.getMonth() + 1) + '/' + taskDetail.deadline.getDate() + '/' + taskDetail.deadline.getFullYear() %><% } %>">
                </div>
                <% if (typeof deadlineErr != 'undefined' && deadlineErr) { %>
                    <div class="alert alert-danger"><%= deadlineErr %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Priority</label>
                <div class="col-sm-10">
                    <select name="priority" class="form-control">
                        <option value=" ">Select Role</option>
                        <option value="3" <% if (typeof taskDetail != 'undefined' && taskDetail.priority=="3") { %>Selected<% } %>>Low</option>
                        <option value="2" <% if (typeof taskDetail != 'undefined' && taskDetail.priority=="2") { %>Selected<% } %>>Medium</option>
                        <option value="1" <% if (typeof taskDetail != 'undefined' && taskDetail.priority=="1") { %>Selected<% } %>>High</option>
                    </select>
                </div>
                <% if (typeof priorityErr != 'undefined' && priorityErr) { %>
                    <div class="alert alert-danger"><%= priorityErr %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10">
                    <select name="status" class="form-control">
                        <option value="">Select Status</option>
                        <option value="incomplete" <% if (typeof taskDetail != 'undefined' && taskDetail.status=="incomplete") { %>Selected<% } %>>Incomplete</option>
                        <option value="complete" <% if (typeof taskDetail != 'undefined' && taskDetail.status=="complete") { %>Selected<% } %>>Complete</option>
                    </select>
                </div>
                <% if (typeof statusErr != 'undefined' && statusErr) { %>
                    <div class="alert alert-danger"><%= statusErr %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Task Timeline Type</label>
                <div class="col-sm-10">
                    <select name="task_timeline_type" class="form-control">
                        <option value="">Select Type</option>
                        <option value="overdue" <% if (typeof taskDetail != 'undefined' && taskDetail.task_timeline_type=="overdue") { %>Selected<% } %>>Overdue</option>
                        <option value="today" <% if (typeof taskDetail != 'undefined' && taskDetail.task_timeline_type=="today") { %>Selected<% } %>>Today</option>
                        <option value="upcoming" <% if (typeof taskDetail != 'undefined' && taskDetail.task_timeline_type=="upcoming") { %>Selected<% } %>>Upcoming</option>
                    </select>
                </div>
                <% if (typeof task_timeline_typeErr != 'undefined' && task_timeline_typeErr) { %>
                    <div class="alert alert-danger"><%= task_timeline_typeErr %></div>
                <% } %>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <h5 class="text-center"><a href="/users/dashboard">Task Listing</a></h5>        
    </div>
</section>
 
